[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stats4teaching"]
	path = stats4teaching
	url = https://github.com/cran/stats4teaching
